<h1>Upgrade your account to Premium!</h1>
<p>Your card will be charged $15.00 USD</p>

<form action="/users/upgrade" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_MEnzEljHyUIfXgiB2E7W3Vw3" data-amount="1500" data-name="Demo Site"
        data-description="Example charge" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto" data-currency="usd">
        </script>
</form>